html{
  /* コピー禁止！！ */
  -webkit-user-select: none;
}

body{
  background-color: #FEFBEA;
  color: #000;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 100%;
  width: 100%;
  letter-spacing: 0.05em;
  line-height: 1.5;
  position: relative;
}

*::-webkit-scrollbar{
  display: none;
}

/* wrap */
.wrap{
  background-color: #fff;
  box-shadow: 0 0 3px #763817;
  color: #053963;
  font-size: 62.5%;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  max-width: 767px;
  overflow-x: hidden;
  position: relative;
}

/* reload_btn */
.reload_btn{
  display: none;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.reload_btn .reload_btn_inner{
  background: #053963;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #fff;
  height: 45px;
  width: 45px;
  padding: 10px;
  transition: 0.3s;
}

.reload_btn .reload_btn_inner:hover{
  opacity: 0.7;
}

.reload_btn .reload_btn_inner svg{
  height: 75%;
  width: 75%;
}

/* main_selector */
.main_selector ul{
  display: flex;
}

.main_selector .main_selector_item{
  border-bottom: 2px solid #BCCCDB;
  color: #BCCCDB;
  cursor: pointer;
  font-size: 0.75rem;
  padding: 10px 0;
  text-align: center;
  width: 50%;
}

.main_selector .main_selector_item.main_selector_item_tdl.is_active{
  border-color: var(--tdl_color);
  color: var(--tdl_color);
}

.main_selector .main_selector_item.main_selector_item_tds.is_active{
  border-color: var(--tds_color);
  color: var(--tds_color);
}

/* main_content */
.main_content{
  margin: 0 auto;
  width: 90%;
}

.main_content .main_item{
  display: none;
}

.main_content .main_item.is_active{
  display: block;
}

article{
  height: 100%;
  position: relative;
}

.article_ttl{
  background-color: #fff;
  font-size: 0.80rem;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 999;
}

section{
  border-top: 1px solid #BCCCDB;
  display: none;
  min-height: 90px;
  overflow-y: hidden;
  padding: 10px 0;
}

section.is_active{
  display: block;
}

.section_main{
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.section_main:hover{
  opacity: 0.7;
}

.section_main .section_img{
  border: 2px solid transparent;
  border-radius: 50%;
  display: block;
  height: 60px;
  width: 60px;
  margin: 0 20px 0 10px;
}

.main_item_tdl .section_main .section_img{
  border-color: var(--tdl_color);
}

.main_item_tds .section_main .section_img{
  border-color: var(--tds_color);
}

.section_main .section_img img{
  border: 2px solid #fff;
  border-radius: 50%;
  height: 56px;
  width: 56px;
}

.section_main .section_txt_box{
  font-size: 0.90rem;
}

.section_main .section_txt_box p{
  margin: 5px 0;
}

.main_item_tds section.is_play .section_ttl{
  color: var(--tds_color);
}

.section_main .section_txt_box .section_tag, .section_main .section_txt_box .section_time_table{
  font-size: 0.90rem;
}

.section_main .section_txt_box .section_tag span{
  color: var(--tag_color);
  display: block;
}

.section_main .section_txt_box .section_tag .ps::before{
  background: url('https://drive.google.com/uc?id=1OVtHMdRQXl33ew1Je-T3vm2SH89FYtUa') no-repeat center;
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
}

.section_main .section_txt_box .section_tag .sbp::before{
  background: url('https://drive.google.com/uc?id=12UQQscOnErpYyzgbKaS1LA5vx7mBFGkI') no-repeat center;
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
}

.section_player{
  display: none;
  margin: 20px auto 10px;
}

.section_player.is_active{
  display: block;
}

.section_player .section_player_item{
  background-color: #F4F6F8;
  margin-bottom: 10px;
  padding: 10px 0;
}

.section_player .section_player_item .section_player_item_inner{
  margin: 0 auto;
  width: 90%;
}

.section_player .section_player_item .section_player_item_inner .player_txt_box{
  font-size: 0.75rem;
}

.section_player .section_player_item .section_player_item_inner .player_txt_box .audio_ttl{
  font-size: 0.90rem;
  margin-right: 10px;
}

.section_player .section_player_item .section_player_item_inner .player_txt_box p{
  display: inline-block;
}

.section_player .section_player_item .section_player_item_inner .player_btn ul{
  display: flex;
}

.section_player .section_player_item .section_player_item_inner .player_btn{
  margin: 20px 0 10px;
}

.section_player .section_player_item .section_player_item_inner .player_btn .player_btn_item{
  aspect-ratio: 1/1;
  border: 1px solid #053963;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 35px;
  transition: 0.3s;
  width: 15%;
}

.section_player .section_player_item .section_player_item_inner .player_btn .player_btn_item:hover{
  opacity: 0.7;
}

.section_player .section_player_item .section_player_item_inner .player_btn .player_btn_item span{
  font-size: 1.3rem;
}

/* nav */
nav{
  background-color: #fff;
  border-top: 1px solid #763817;
  width: 100%;
  max-width: 767px;
  position: fixed;
  bottom: 0;
}

.nav_inner .nav_top{
  margin-top: 10px;
}

.nav_inner .nav_top ul{
  display: flex;
}

.nav_inner .nav_top .nav_item{
  aspect-ratio: 1/1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  margin: 0 auto;
  max-width: 50px;
  transition: 0.3s;
}

.nav_inner .nav_top .nav_item:hover{
  opacity: 0.7;
}

.nav_inner .nav_top .nav_item svg{
  aspect-ratio: 1/1;
  fill: #BCCCDB;
  height: 65%;
  width: 65%;
  max-width: 30px;
}
.nav_inner .nav_top .nav_item.is_active svg{
  fill: #053963;
}

.nav_inner .nav_bottom .nav_clock{
  font-size: 1.2rem;
  margin: 10px auto 20px;
  text-align: center;
}
