html{
  /* コピー禁止！！ */
  -webkit-user-select: none;
}

body{
  background-color: #fff;
  color: #000;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 100%;
  width: 100%;
  letter-spacing: 0.05em;
  line-height: 1.5;
  position: relative;
}

*::-webkit-scrollbar{
  display: none;
}

/* wrap */
.wrap{
  background-color: #fff;
  box-shadow: 0 0 3px #333;
  color: #053963;
  font-size: 62.5%;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  max-width: 767px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

/* main */
.main_selector ul{
  display: flex;
}

.main_selector .main_selector_item{
  border-bottom: 2px solid #BCCCDB;
  color: #BCCCDB;
  cursor: pointer;
  font-size: 0.75rem;
  padding: 10px 0;
  text-align: center;
  width: 50%;
}

.main_selector .main_selector_item.main_selector_item_tdl.is_active{
  border-color: var(--tdl_color);
  color: var(--tdl_color);
}

.main_selector .main_selector_item.main_selector_item_tds.is_active{
  border-color: var(--tds_color);
  color: var(--tds_color);
}

/* main_wrap */
.main_wrap{
  margin: 0 auto 100px;
  width: 90%;
}

article{
  height: 100%;
  position: relative;
}

.article_ttl{
  background-color: #fff;
  font-size: 0.80rem;
  padding: 10px 0;
  position: sticky;
  top 0;
  z-index: 999;
}

section{
  border-top: 1px solid #BCCCDB;
  cursor: pointer;
  font-weight: 600;
  min-height: 90px;
  overflow-y: hidden;
  padding: 10px 0;
  transition: 0.3s;
}

section.is_active{
  display: block;
}

.section_main{
  display: flex;
  align-items: center;
}

.section_main .section_img{
  border: 2px solid transparent;
  border-radius: 50%;
  display: block;
  height: 60px;
  width: 60px;
  margin: 0 20px 0 10px;
}

.main_content_tdl .section_main .section_img{
  border-color: var(--tdl_color);
}

.main_content_tds .section_main .section_img{
  border-color: var(--tds_color);
}

.section_main .section_img img{
  border: 2px solid #fff;
  border-radius: 50%;
  height: 56px;
  width: 56px;
}

.section_main .section_txt_box{
  font-size: 0.90rem;
}

.section_main .section_txt_box p{
  margin: 5px 0;
}

.section_main .section_txt_box .section_tag, .section_main .section_txt_box .section_time_table{
  font-size: 0.80rem;
}

.section_main .section_txt_box .section_tag span{
  color: var(--tag_color);
}

.section_main .section_txt_box .section_tag .ps::before{
  background: url('https://drive.google.com/uc?id=1OVtHMdRQXl33ew1Je-T3vm2SH89FYtUa') no-repeat center;
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
}

.section_main .section_txt_box .section_tag .sbp::before{
  background: url('https://drive.google.com/uc?id=12UQQscOnErpYyzgbKaS1LA5vx7mBFGkI') no-repeat center;
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
}

/* nav */
nav{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.nav_inner{
  background-color: #fff;
  border-top: 1px solid #BCCCDB;
  width: 100%;
  margin: 0 auto;
  max-width: 767px;
}

.nav_inner .nav_bottom ul{
  display: flex;
}

.nav_inner .nav_bottom .nav_item{
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: center;
  width: 20%;
  margin: 0 auto;
  max-width: 50px;
  transition: 0.3s;
}

.nav_inner .nav_bottom .nav_item:hover{
  opacity: 0.7;
}

.nav_inner .nav_bottom .nav_item svg{
  fill: #BCCCDB;
  height: 15px;
  width: 15px;
}

.nav_inner .nav_bottom .nav_item.is_active svg{
  fill: #053963;
}
